main {
    height: 887px;
}

header {
    background: blue;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 36px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
}

aside {
    display: flex;
    padding-top: 3%;
    flex-direction: column;
    background: yellow;
    width: 25%;
}

#search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 3%;
    font-size: 28px;
}

#city-search {
    margin-top: 3%;
    font-size: 22px;
    width: 75%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#search-button {
    margin-top: 3%;
    font-size: 22px;
    width: 75%;
    margin-bottom: 3%;
    background: purple;
    color: azure;
}

main {
    background: lightcoral;
    width: 75%;
}

.main-flex-container {
    display: flex;
}

/* styles the current temperature box and it's content */
#current-weather {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
}

.today-header {
    width: 100%;
}

.left-current-div {
    width: 15%;
}
.right-current-div {
    width: 85%;
}

.current-icon {
    height: 100px;
    width: 120px;
}

.current-list {
    margin-top: 2%;
    font-size: 20px;
}

.current-list li {
    margin-top: 3%;
}

/* This styling is for the items in the card box*/

#card-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.weather-card {
    background: orange;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
}

.card-list li {
    margin-top: 10%;
}

.date-title {
    margin-bottom: 3%;
}

/* This styling is for the buttons that relate to previous searches */
/* .previous-searches {
    display:flex;
    flex-direction: column;
    justify-content: center;
} */

.pre-button {
    width: 90%;
    margin-top: 3%;
    margin-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 22px;
}