:root {
    --background: #D5E4DD;
    --contrastbackground: rgb(106, 106, 223);
    --panel: #C1DAC1;
}

main {
    min-height: 887px;
}

header {
    background: var(--contrastbackground);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-family:'Great Vibes', cursive;
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
}

aside {
    display: flex;
    padding-top: 3%;
    flex-direction: column;
    background: var(--background);
    width: 25%;
}


aside h2 {
    margin-bottom: 5%;
}

#search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'EB Garamond', serif;
    margin-top: 3%;
    font-size: 32px;
}

#city-search {
    margin-top: 3%;
    font-size: 22px;
    width: 75%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
}

#search-button {
    margin-top: 3%;
    font-size: 22px;
    width: 75%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: purple;
    color: azure;
    font-family: 'Roboto Slab', serif;
}

#search-button:hover {
    background: blueviolet;
}

main {
    background: var(--background);
    width: 75%;
    padding-top: 1%;
    padding-right: 1%;
}

.main-flex-container {
    display: flex;
}

/* styles the current temperature box and it's content */
#current-weather {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 3%;
    margin-bottom: 4%;
    background: var(--panel);
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

#current-weather h2 {
    margin-bottom: 4%;
    text-decoration: underline;
}

.today-header {
    width: 100%;
}

.left-current-div {
    width: 15%;
}
.right-current-div {
    width: 85%;
}

.current-icon {
    height: 100px;
    width: 120px;
}

.current-list {
    margin-top: 2%;
    font-size: 20px;
}

.current-list li {
    margin-top: 3%;
}

/* This styling is for the items in the card box*/

#card-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.weather-card {
    background: var(--contrastbackground);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;
}

.card-list li {
    margin-top: 10%;
}

.date-title {
    margin-bottom: 3%;
}

/* This styling is for the buttons that relate to previous searches */
.pre-button {
    width: 90%;
    margin-top: 3%;
    margin-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 22px;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
}

.pre-button:hover {
    color: antiquewhite;
    background: blueviolet;
}

@media screen and (max-width: 1842px){
    .weather-card {
        margin-bottom: 3%;
    }
}


@media screen and (max-width: 899px) {
    #current-weather {
        flex-direction: column;
    }
    .weather-card {
        width: 80%;
        margin-bottom: 3%;
    }
    .main-flex-container {
        flex-direction: column;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
        padding-bottom: 3%;
    }
    .pre-button {
        width: 70%;
        margin-left: 15%;
    }
}

